.about1{
	position: relative; 
  margin: 0 auto;
}
.about2{
	position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  max-width: 100%;
  height: 100%;
  padding: 20px;
}
.about3 span{
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
}
.about3{
	margin-top: 100px;
	text-align: center;
	font-size: 1.5em;
}

.img-fluid{
	width: 100%;
	height: 400px;
}
.about-img{
	margin-top: 100px;
}
.about-img img{
	width: 400px;
	height: 300px;
}
.about-text{
	margin-top: 100px;
}
.about-text .text{
	font-size: 2em;
	color: black;
	font-weight: bold;

}
.about-text span{
	color: #0275d8;
	font-style: italic;
}
@media (min-width: 768px) and (max-width: 991px){
	.about-img img{
		width: 350px;
		height: 250px;
		margin-left: 150px;
	}
}
@media (max-width: 767px){
	.about-img img{
		width: 300px;
		height: 200px;
		margin-left: 100px;
	}
}
@media(max-width: 576px){
	.about-img img{
		width: 300px;
		height: 200px;
		margin-left: 70px;
	}
	
}
.meet-team{
	margin-top: 150px;
	text-align: center;
}
.team{
	font-size: 2.5em;
	color: black;
	font-weight: bold;
	margin-top: 30px;
}
.team span{
	font-style: italic;
	color: #0275d8;
}
.card .card-img-top{
	height: 300px;
}
.con{
	margin-top: 150px;
}
.review-container{
	//background-color: ; /* Fallback color */
  background: rgba(0, 0, 255, 0.1); /* Black background with 0.5 opacity */
  //color: #f1f1f1;
  margin-bottom: 100px;
}
.review{
	margin: auto;
	//margin-top: 150px;
	width: 400px;
	height: 200px;
	background-color: transparent;//#0275d8;//blanchedalmond;
	border-radius: 10px;
	padding: 30px;
	color: black;
}
.review-text{
	
}
.review-by{
	text-align: right;
	padding: 20px;
}

.flippy{
	margin: auto;
	margin-top: 100px;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	color: black;
}
.flippy span{
	font-style: italic;
	color: #0275d8;;
}
.flip-box{
	background-color: transparent;
  	width: 400px;
  	height: 200px;
  	border-radius: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	margin-top: 50px;
  	margin-bottom: 50px;
  	cursor: pointer;
}
.flip-box-inner{
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.8s;
  	transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}
.flip-box-front{
	//background-image: url("../images/home1.jpg");
	//background-repeat: no-repeat;
	//filter: grayscale(100%);
	//width: 100%;
  	//height: 100%;
	border-radius: 15px;
	margin: auto;
	padding: 20px;
 	background-color: steelblue;//dodgerblue;//#0275d8;
  	font-weight: bold;
  	font-size: 1.2em;
  	box-shadow: 5px 10px 18px #888888;
}


.flip-box-back{
	/*background-image: url("aboutus-2.jpg");
	background-repeat: no-repeat;*/
	background-color: cadetblue;
	border-radius: 15px;
	padding: 20px;
  	transform: rotateY(180deg);
  	font-weight: bold;
  	font-size: 1.2em;

}
#gallery a:hover{
	cursor: pointer;
}
#gallery .modal-title{
	text-align: center;
	color: black;
	font-weight: bold;
}
